{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="btn-group btn-group-toggle" data-toggle="buttons">
{% for language in languages %}
  <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
  {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <input name="language" type="hidden" value="{{ language.code }}" />
  </form>
  <button class="btn btn-outline-secondary btn-sm {% if language.code == LANGUAGE_CODE %}active{% endif %}" type="submit" form="form_{{ language.code }}" value="Submit">{{ language.code }}</button>
{% endfor %}
</div>